@page "{id}"
@using Kalamarket.Core.Convartor
@model Kalamarket.Web.Pages.Admin.Blogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    #iimg{
        max-height: 200px;
        max-width: 200px
    }
</style>
<h1>جزييات</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            تصوير
        </dt>
        <dd class="col-sm-10">
            <img id="iimg" src="~/Blog/@Model.Blog.ImageName" />
        </dd>
        <dt class="col-sm-2">
            عنوان :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.BlogTitle)
        </dd>
        <dt class="col-sm-2">
            توضيحات :
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Blog.BlogDescription)
        </dd>
        <dt class="col-sm-2">
            تعداد بازديد :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Views)
        </dd>
        <dt class="col-sm-2">
            تاريخ انتشار :
        </dt>
        <dd class="col-sm-10">
            @Model.Blog.CreateDate.Toshamsi();
        </dd>
        <dt class="col-sm-2">
           نام منتشر كننده :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.User.FullName)
        </dd>
    </dl>
</div>